div{
    position: absolute;
    top:50px;
    bottom: 50px;
    right: 50px;
    left: 50px;
    text-align: center;
}

.field{
    height: 2rem;
    padding-left: 0.5rem;
    outline: none;
    margin: 0.5rem;
}